body{
  margin:0;
  font-family:Arial;
  background:#0b1020;
  color:white;
  overflow:hidden;
}
canvas{
  display:block;
}
#ui{
  position:fixed;
  top:10px;
  left:10px;
  background:rgba(0,0,0,0.85);
  padding:12px;
  border-radius:10px;
  width:280px;
  font-size:14px;
}
button{
  width:100%;
  margin-top:5px;
  padding:6px;
  font-size:14px;
}
#log{
  position:fixed;
  right:10px;
  bottom:10px;
  width:360px;
  height:260px;
  overflow:auto;
  background:rgba(0,0,0,0.85);
  padding:10px;
  border-radius:10px;
  font-size:13px;
}
